<div class="container">
  <div class="row">
    <div class="col-xs-12" class="block">
        <h1 class="display-4">Welcome to the boring cat app</h1>
        <p class="lead">This app's purpose is to create an app with a simple API to <a target="_blank" href="https://catfact.ninja/">https://catfact.ninja/</a></p>
        <hr>
        <nav>
          <a routerLink="/breeds">Fetch cat breeds and learn about them</a>
        </nav>
        <nav>
          <a routerLink="/facts">Fetch random facts about cats</a>
        </nav>
    </div>
  </div>



</div>
